/**
 * Admin styles for CMP AvaTax.
 */

.cmp-avatax-rate {
  margin-bottom: 2em;
}

.cmp-avatax-rate.form-item {
  display: inline;
  margin-right: 1em;
}

.links.operations {
  text-transform: lowercase;
}
